name: Build & Sign Firefox Addon

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install web-ext
        run: npm install --global web-ext

      - name: Sign Firefox Extension
        run: |
          web-ext sign \
            --source-dir ./ \
            --api-key ${{ secrets.AMO_JWT_ISSUER }} \
            --api-secret ${{ secrets.AMO_JWT_SECRET }} \
            --channel listed \
            --artifacts-dir ./web-ext-artifacts

      - name: Upload signed XPI
        uses: actions/upload-artifact@v4
        with:
          name: otment-signed-extension
          path: web-ext-artifacts/*.xpi